body {
  background-color: light-gray;
}
.hilite {
  font-weight: bold;
  color: #ff0000;
}
.dline {
  width: 6ex;
}
.pline {
  width: 12ex;
}
.normal {
}
.title {
  background-color: #756343;
  padding: 5px;
}
.status {
  background-color: #EBC47F;
  padding: 5px;
}
.listing {
  background-color: #ffffff;
}
.code {
  width: 100%;
  height: 40ex;
}
.registermachine {
  background: #ebc37f86;
  display: grid;
  grid-template-columns: 650px auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "controls descriptions"
    "cpu program"
}

.cpu {
  grid-area: cpu;
}

.descriptions {

  grid-area: descriptions;
}

.controls {
  background-color: #EBC47F;
  padding-top: 15px;
  padding-left: 150px;
  grid-area: controls;
}

.program {
  grid-area: program;
  padding-right: 20px;
  height: 100%;
}

.cpubgr {
  fill: #ebc47f55;
}

.memory {
  text-align: center;
  background: linear-gradient(0deg, rgba(167,178,200,1) 0%, rgba(154,166,189,1) 50%, rgba(136,152,182,1) 100%);
  display: flex;
  padding: 5px;
  justify-content: center;
}

.statemachineArrow {
  fill: none;
  stroke: blue;
  stroke-width: 3;
  marker-end: url(#head);
}

.hide {
  visibility: collapse;
}

.jumpPath {
  fill: none;
  stroke: red;
  stroke-width: 3;
  marker-end: url(#redHead);
}

.outputValue {
  background: beige;
  padding: 5px;
}

.editor {
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  font-weight: 400;
  height: 340px;
  letter-spacing: normal;
  line-height: 20px;
  padding: 10px;
  tab-size: 4;
}