<div class="toolbar">
  <mat-form-field appearance="outline" hide-subscript="true">
    <mat-label>Beispielprogramme</mat-label>
    <mat-select>
      <mat-option>minimum.asm</mat-option>
      <mat-option>mittelw.asm</mat-option>
      <mat-option>sum_1_n.asm</mat-option>
      <mat-option>summe.asm</mat-option>
      <mat-option>potenz.asm</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button>Laden</button>
  <button mat-raised-button>Speichern</button>
</div>
<ngx-monaco-editor
  [options]="editorOptions"
  [(ngModel)]="code"
></ngx-monaco-editor>
