:host {
  display: grid;
  padding-top: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  box-sizing: border-box;
  margin-right: 1rem;
}

.toolbar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

ngx-monaco-editor {
  grid-column: 1;
  grid-row: 2;
  height: 100%;
  width: 100%;
  min-height: 0;
  box-sizing: border-box;
}

.error-list {
  grid-column: 1;
  grid-row: 3;
  margin-top: 0.5rem;
  color: var(--ohm-error-color);
  font-size: 0.9rem;
}

.editor-border {
  border: 1px solid var(--ohm-color);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 5px;
}
