.line-map {
  padding-top: 1rem;
  font-family: monospace;
  font-size: 1rem;
  line-height: 1.5rem;
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;
}

:host {
  --border-style: 1px solid var(--ohm-color);
  --border-radius: 5px;
  display: grid;
  width: 220px;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  min-width: var(--register-min-width);
}

.label {
  position: relative;
  top: -0.7rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 0.5rem;
  color: var(--ohm-color);
}

.content {
  padding-top: .5rem;
  font-family: monospace;
  font-size: 1rem;
  line-height: 1.5rem;
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto 1fr auto;
}

.highlight {
  color: var(--mat-sys-on-primary-container);
  font-weight: bold;
}

.border {
  &.top {
    border-top: var(--border-style);
  }
  &.left {
    border-left: var(--border-style);
  }
  &.right {
    border-right: var(--border-style);
  }
  &.top.left {
    border-top-left-radius: var(--border-radius);
  }
  &.top.right {
    border-top-right-radius: var(--border-radius);
  }
}

.span-2 {
  grid-column: span 2;
  justify-self: center;
}
