:host {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  min-height: 10rem;
  max-height: 100%;
}

.line-map {
  padding-top: 1rem;
  font-family: monospace;
  font-size: 1rem;
  line-height: 1.5rem;
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;
}
