:host {
  display: grid;
  box-sizing: border-box;
  padding: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "pc accu input"
    "pr alu output"
    "progmem datamem null";
  gap: 1rem;
  height: 100%;
  width: 100%;
}

rma-program-counter {
  grid-area: pc;
}

rma-accumulator {
  grid-area: accu;
}

rma-input {
  grid-area: input;
}

rma-program-register {
  grid-area: pr;
}

rma-alu {
  grid-area: alu;
}

rma-output {
  grid-area: output;
}

rma-program-memory {
  grid-area: progmem;
}

rma-data-memory {
  grid-area: datamem;
}
