<svg viewPort="0 0 1000 500" class="rma-diagram">
  <defs>
    <marker
      id="arrow"
      viewBox="0 0 10 10"
      refX="5"
      refY="5"
      markerWidth="10"
      markerHeight="10"
      orient="auto-start-reverse"
    >
      <path d="M 0 0 L 10 5 L 0 10 z" />
    </marker>
  </defs>
  <foreignObject x="50" y="0" width="160" height="65">
    <div style="width: 100%; height: 100%; padding-top: 0.5rem">
      <rma-program-counter
        [programCounter]="registermaschine().programCounter"
      ></rma-program-counter>
    </div>
  </foreignObject>

  <foreignObject x="300" y="0" width="160" height="65">
    <div style="width: 100%; height: 100%; padding-top: 0.5rem">
      <rma-accumulator
        [accumulator]="registermaschine().accumulator"
      ></rma-accumulator>
    </div>
  </foreignObject>

  <foreignObject x="550" y="0" width="160" height="65">
    <div style="width: 100%; height: 100%; padding-top: 0.5rem">
      <rma-input
        [inputDevice]="registermaschine().inputDevice"
        [rmIsRunning]="isRunning()"
      ></rma-input>
    </div>
  </foreignObject>

  <foreignObject x="50" y="80" width="160" height="65">
    <div style="width: 100%; height: 100%; padding-top: 0.5rem">
      <rma-program-register
        [programRegister]="registermaschine().programRegister"
      ></rma-program-register>
    </div>
  </foreignObject>

  <foreignObject x="300" y="80" width="160" height="100">
    <div style="width: 100%; height: 100%; padding-top: 0.5rem">
      <rma-alu [alu]="registermaschine().alu"></rma-alu>
    </div>
  </foreignObject>

  <foreignObject x="550" y="80" width="160" height="65">
    <div style="width: 100%; height: 100%; padding-top: 0.5rem">
      <rma-output [outputDevice]="registermaschine().outputDevice"></rma-output>
    </div>
  </foreignObject>

  <foreignObject x="50" y="250" width="160" height="500">
    <div
      style="width: 100%; min-height: 0; max-height: 30rem; padding-top: 0.5rem"
    >
      <rma-program-memory
        [programMemory]="registermaschine().programMemory"
        [programCounter]="registermaschine().programCounter"
      ></rma-program-memory>
    </div>
  </foreignObject>

  <foreignObject x="300" y="250" width="300" height="500">
    <div
      style="width: 100%; min-height: 0; max-height: 30rem; padding-top: 0.5rem"
    >
      <rma-data-memory
        [dataMemory]="registermaschine().dataMemory"
      ></rma-data-memory>
    </div>
  </foreignObject>

  @switch(inputTarget()) { @case(IoTargetEnum.DataMemoryWrite) {
  <path
    d="M 485,270 V 35 H 550"
    stroke="black"
    stroke-width="1"
    fill="none"
  ></path>

  } @case(IoTargetEnum.AccumulatorWrite) {
  <path
    d="M 465,35 H 550 V 35"
    stroke="black"
    stroke-width="1"
    fill="none"
    marker-start="url(#arrow)"
  />
  } } @switch(outputTarget()) { @case(IoTargetEnum.AccumulatorRead) {
  <path
    d="M460,35 H 485 V 115 H 545"
    stroke="black"
    stroke-width="1"
    fill="none"
    marker-end="url(#arrow)"
  ></path>
  } @case(IoTargetEnum.DataMemoryRead) {
  <path
    d="M 545,35 H 485 V 270"
    stroke="black"
    stroke-width="1"
    fill="none"
    marker-start="url(#arrow)"
  />
  } } @switch (accuTarget()) { @case (AccuTargetEnum.DataMemoryWrite) {
  <path d="M 460,35 H 485 V 270 " stroke="black" stroke-width="1" fill="none" />
  } @case(AccuTargetEnum.DataMemoryRead) {
  <path d="M 465,35 H 485 V 270 " stroke="black" stroke-width="1" fill="none" marker-start="url(#arrow)" />
  } }
  @switch (aluTarget()) {
  @case (AluTargetEnum.DataMemory) {
  <path d="M 435,180 V 200 H 485 V 270 " stroke="black" stroke-width="1" fill="none" marker-start="url(#arrow)" />
  }}
</svg>
