:host {
    display: grid;
    box-sizing: border-box;
    padding: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 1rem;
    height: 100%;
    width: 100%;
}