:host {
  padding: 1rem;
  display: grid;
  height: 100dvh;
  width: 100%;
  box-sizing: border-box;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "title-rm title-editor"
    "controls editor"
    "registermaschine editor";
  min-height: 0;
}

rma-register-maschine {
  grid-area: registermaschine;
}

rma-editor {
  grid-area: editor;
}
rma-controls {
  grid-area: controls;
}

.title-rm {
    grid-area: title-rm;
}

.title-editor {
    grid-area: title-editor;
}