<div class="title-rm">
  <h2>Registermaschine</h2>
  <div class="buttons">
    <mat-button-toggle-group name="fontStyle" aria-label="Ansicht wechseln" [(value)]="displayStyle">
      <mat-button-toggle value="svg">SVG</mat-button-toggle>
      <mat-button-toggle value="grid">Grid</mat-button-toggle>
    </mat-button-toggle-group>
    <button mat-icon-button color="primary" (click)="showSettings()">
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</div>
<div class="title-editor">
  <h2>Editor</h2>
  <div class="buttons">
    <a
      mat-icon-button
      color="primary"
      href="https://github.com/apazureck/registermaschine"
      target="_blank"
      rel="noopener"
    >
      <img src="assets/github-mark.svg" alt="GitHub Logo" />
    </a>
    <button mat-icon-button color="primary" (click)="showInfo()">
      <mat-icon>info</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="showHelp()">
      <mat-icon>help</mat-icon>
    </button>
  </div>
</div>
<rma-controls></rma-controls>
<rma-registermaschine
  [program]="code()"
  (onError)="errors.set($event)"
  [displayStyle]="displayStyle()"
></rma-registermaschine>
<rma-editor [(code)]="code" [errors]="errors()"></rma-editor>
