:host {
  display: grid;
  padding: 1rem;
  border: 1px solid var(--ohm-color);
  border-radius: 5px;
  max-width: 150px;
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  min-width: var(--register-min-width);
}

.label {
  position: absolute;
  top: -0.7rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--mat-sys-surface);
  padding: 0 0.5rem;
  color: var(--ohm-color);
}

.content {
  font-family: monospace;
  font-size: 1rem;
  line-height: 1.5rem;
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;
}

.highlight {
  color: var(--mat-sys-on-primary-container);
  font-weight: bold;
}
