<h2 mat-dialog-title>Einstellungen</h2>
<mat-dialog-content class="content">
  <div>Hier können Sie die Einstellungen der Registermaschine anpassen.</div>
  <mat-form-field appearance="outline">
    <mat-label>TaktFrequenz</mat-label>
    <input
      matInput
      type="number"
      [(ngModel)]="data().clockFrequency"
      min="1"
      max="100"
      step="1"
    />
    <div style="margin-right:.5rem" matSuffix>Hz</div>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Speichergröße Programmspeicher</mat-label>
    <input
      matInput
      type="number"
      [(ngModel)]="data().programMemorySize"
      min="8"
      max="512"
      step="1"
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Speichergröße Datenspeicher</mat-label>
    <input
      matInput
      type="number"
      [(ngModel)]="data().dataMemorySize"
      min="8"
      max="512"
      step="1"
    />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="data()" >Schließen</button>
</mat-dialog-actions>
