:host {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 1rem;
  overflow-y: auto;
}

ul {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
}

li {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
}

code {
  color: var(--ohm-color);
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  font-family: 'Fira Code', monospace;
}