<div class="grid">
  <div class="header">
    <div class="border top left">&nbsp;</div>
    <div class="label">Daten</div>
    <div class="border top right">&nbsp;</div>
    <div>
    </div>
    <div class="border left"></div>
    <div>Adr.</div>
    <div class="border right">Inhalt</div>
    <div>

    </div>
  </div>
  <div class="content">
    @for(entry of memoryContent(); track i; let i = $index) {
    <div
      class="border left"
      style="width: 1rem"
      [class]="{ highlight: i === currentProgramCounter() }"
    >
      @if(i === currentProgramCounter()) {►}
    </div>
    <div [class]="{ highlight: i === currentProgramCounter() }">{{ i }}</div>
    <div class="border right" [class]="{ highlight: i === currentProgramCounter() }">
      {{ entry }}
    </div>
    <div style="position: relative; height: 1.5rem; width: 60px">
    </div>
    }
  </div>
  <div class="footer">
    <div class="border bottom left">&nbsp;</div>
    <div class="border bottom">&nbsp;</div>
    <div class="border bottom right">&nbsp;</div>
  </div>
</div>

<ng-template #lineDown>
  <svg style="position: absolute" viewBox="0 0 50 50" width="50" height="25">
    <line x1="50%" y1="0" x2="50%" y2="100%" stroke="black" stroke-width="2" />
  </svg>
</ng-template>
